@page
@model IngesDom.Pages.users.AddUserModel
@{

}
<h2>Ajouter un Utilisateur</h2>
<form method="post">
    <div class="form-group">
        <label asp-for="User.Name">Nom:</label>
        <input asp-for="User.Name" required placeholder="Saisissez votre nom" class="form-control" />
        <span asp-validation-for="User.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.FirstName">Prenoms:</label>
        <input asp-for="User.FirstName" required placeholder="Saisissez Vos prénoms" class="form-control" />
        <span asp-validation-for="User.FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Email">Adresse Email:</label>
        <input asp-for="User.Email" required placeholder="Saisissez Votre adresse Email" class="form-control" />
        <span asp-validation-for="User.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="User.Sex" class="control-label">Sexe</label>
        <select asp-for="User.Sex" class="form-control">
            <option value="Masculin">Masculin</option>
            <option value="Feminin">Feminin</option>
        </select>
        <span asp-validation-for="User.Sex" class="text-danger"></span>
    </div>


    <div class="col-md-6 offset-3">
        <button type="submit" class="btn btn-block btn-success">Enregistrer</button>
    </div>
</form>